{
  "eslintIntegration": true,
  "singleQuote": true,
  "semi": false,
  "printWidth": 130,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore"
}
