.table-wrap {
  height: 100%;
  &-dropdown{
    margin-left: 10px;
  }
}
.v-pager {
  padding: 5px;
  text-align: right;
  margin-top: 20px;
}
//局部样式.demo是类名 是el-table标签上的自定义class
/deep/.el-table__body-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/deep/.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}