$timeout: 0.3s;
$menuItemHeight: 36px;

/deep/ .el-menu {
  border-right: none;
  .el-menu-item {
    height: $menuItemHeight;
    line-height: $menuItemHeight;
  }
}
/deep/ .el-submenu__title {
  height: $menuItemHeight;
  line-height: $menuItemHeight;
}
/deep/ .el-submenu__title:hover {
  background-color: #f3f5f8 !important;
}
/deep/.el-menu-item:hover {
  background-color: #f3f5f8 !important;
}
/deep/.el-menu-item.is-active {
  background-color: #f3f5f8 !important;
}
.app-scrollbar:not(.el-menu-collapse) {
  width: 100%;
  transition: width $timeout;
}
.app-scrollbar.el-menu-collapse {
  width: 60px;
  transition: width $timeout;
}
.menu-collapse:not(.el-menu--collapse) {
  width: 100%;
  transition: width $timeout;
}
.app-scrollbar {
  height: 100%;
  position: relative;
  background-color: #fff;
  /deep/.el-scrollbar__wrap {
    overflow-x: hidden;
  }
}
