.v-tree{
  height: 100%;
  background-color: #fff;
  .custom-tree-node{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }
}