// 线的长度
$lineWidth: 38px;

// 放大时线的长度
$lineBigWidth: 56px;

$red: #e15c59;

$yellow: #f5a242;

$green: #64c066;

$gray: #879597;

$arriveItemRed: #fd5377;
$arriveItemBlue: #007ef1;
$arriveItemGreen: #31c869;
$arriveItemGrey: #888;
