.anso-tree-wrap {
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  background-color: #fff;

  .icon-wrap {
    width: 12px;
    height: 26px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 50%;
    cursor: pointer;

    &-main {
      width: 24px;
      height: 24px;
      line-height: 22px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #fff;

      &:hover {
        border-color: #4981f4;
      }

      &:hover .icon {
        color: #4981f4;
      }

      .icon {
        color: #8c8c8c;
        font-size: 14px;
      }
    }
  }

  .anso-tree {
    height: 100%;
    background-color: #fff;
    padding: 16px 10px;
    box-sizing: border-box;
    transition: all 0.3s;

    &-search {
      padding-top: 8px;
      display: flex;

      .plus {
        margin-left: 8px;
        padding: 7px !important;
      }
    }

    .tree {
      height: calc(100% - 101px);
      overflow-y: auto;
      // @include special-scroll();
    }

    &-title {
      padding: 16px;
    }

    .custom-tree-node:hover > .custom-tree-node-tool {
      display: block !important;
    }

    .custom-tree-node {
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding-right: 10px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-size: 14px;
      color: #8c8c8c;
      &-label {
        display: block;
        width: 70% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.is_disabled {
        cursor: not-allowed;
        color: #ccc;
      }

      &-tool {
        color: #8c8c8c;
        position: absolute;
        right: 10px;
        display: none;

        em {
          margin-left: 5px;
          &:hover {
            color: #3f71f2;
          }
        }
      }

      &:target {
        color: #4981f4;
      }
    }
  }
}

/deep/ .el-input__inner {
  height: 28px;
}

/deep/.el-tree-node.is-current>.el-tree-node__content>.custom-tree-node {
  color: #4981f4 !important;
}

/deep/.el-tree-node.is-current>.el-tree-node__content>.custom-tree-node.is_disabled {
  color: #ccc !important;
}