.table-page {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  &-main {
    background-color: #fff;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &-table {
      flex: 1;
      overflow-y: auto;
    }
  }
}

/deep/ .el-table td {
  padding: 4px;
}

/deep/ .el-table th {
  padding: 0;
  height: 34px;
}
